

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', sans-serif;
}
.aime-avatar {
  position: fixed;
  bottom: 0px;        
  right: 42%;          
  transform: translateX(50%); 
  width: 18vw;         
  height: auto;         
  opacity: 1;          
  z-index: 1000;      
  animation: riseUp 2s ease-out forwards;
}

/* Rise-up animation */
@keyframes riseUp {
  0% {
    transform: translateY(50px); 
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1; 
  }
}
.chat-bubble {
  position: fixed;     
  bottom: 70px;         
  right: calc(50% - 155px);
  background-color: #EDBC32;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
  height: 60px;
  max-height: 200px;    
  overflow-y: auto;     
  overflow-x: hidden;  
  box-shadow: 0 2px 10px rgba(72, 52, 52, 0.2);
  z-index: 1000;        
  font-size: 12px;
  font-weight: 600;
  width: 130px;         
  box-sizing: border-box; 
  opacity: 1;           
  animation: riseUp 2s ease-out forwards; 

}

/* Rise-up animation */
@keyframes riseUp {
  0% {
    transform: translateY(50px); 
    opacity: 0; 
  }
  100% {
    transform: translateY(0); 
    opacity: 1; 
  }
}
.avatar-container {
  position: fixed; 
  bottom: 20px; 
  right: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%;
  flex: none; 
}
/* HERO SECTION */
.hero {
  background-color: #FFFFF0;
  min-height: 100vh; 
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  padding-top: 20px; 
  flex-direction: column; /* Stack content vertically */
}

/* Words Container */
.words-container {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: flex-start; 
  gap: 10px; 
  width: 100%; 
  position: relative;
  margin-bottom:0px; 
}

.innovation, .creativity, .simplicity {
  font-family: 'Roboto', sans-serif;
  font-size: 30px; /* Default size for mobile */
  font-weight: 600;
  color: #FFD60A; /* Yellow text */
  margin: 0;
}


/* Animation for Innovation (Typing Effect) */
.innovation {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black;
  width: 0;
  animation: typing 4s steps(10, end) forwards, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 11ch;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #FF3B30;
  }
}

/* Animation for Creativity (Shine Effect) */
.creativity {
  text-shadow: none;
  animation: shine 3s ease-in-out forwards;
}

@keyframes shine {
  0% {
    color: #333;
    text-shadow: none;
  }
  50% {
    color: #FFA500;
    text-shadow: 0 0 10px #FFA500;
  }
  100% {
    color: #FFD60A;
    text-shadow: 0 0 20px #FFD700, 0 0 30px #FFD700;
  }
}

/* Animation for Simplicity (Slide-Up Effect) */
.simplicity {
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 6s ease-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-photo {
  width: 200px; /* Adjust the size as needed */
  max-width: 100%;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInFromLeft 2s forwards;
  margin-top: 20px; 
  box-shadow: 8px 8px 4px 0px #FF3B30; 
}

/* Animation for Profile Photo (Slide-In from Left) */
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.intro-text,
.second-intro-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; 
  text-align: center;
  color: #6B7280; 
  padding: 20px; 
  margin-top: 20px; 
  opacity: 0;
  transform: translateY(50px);
  animation: slideUpText 1s forwards;
}


.second-intro-text {
  animation-delay: 0.5s; 
}

/* Animation Keyframes */
@keyframes slideUpText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styling for 'A.I.M.E' text */
.aime {
  font-weight: bold;
  color: #FFD60A; 
}
/* Base styles for content-container and text-container */
.content-container {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  width: 100%;
  margin-top: 20px;     
}

.text-container {
  width: 100%;
  text-align: center;     /* Center text on mobile */
}



/* About Me Section */
.section1 {
  background-color: #FFFFF0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}

/* About Me Heading */
.section1 h1 {
  background: #B32324; 
  color: white; 
  width:170px; 
  height: auto; 
  line-height: 50px; 
  text-align: center; 
  position: relative;
  margin-top: 40px;
  font-size: 20px;
  margin-bottom: 50px; 
  box-shadow: 8px 8px 4px 0px #000000; /* Shadow effect */
}

/* About Me Paragraphs */
.about-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; 
  text-align: center;
  color: #6B7280; 
  max-width: 800px; 
  margin-bottom: 20px; 
}


.about-image {
  display: none; /* Hide image by default */
  bottom: 0;
}



.section2 {
  background-color: #f9dfb2; 
  min-height: 100vh;
  padding: 20px; 
  text-align: center; 
  height: auto; 
  box-sizing: border-box; 
  position: relative; 
  overflow: hidden; /* Hide any content that overflows beyond the section */
}

.cloud {
  position: absolute;
  width: 290px; 
  height: auto; 
  animation: moveClouds 30s linear infinite; 

}

/* Position each cloud individually */
.cloud1 {
  top: 10%; 
  left: 20%;
  width: 100%; 
}

.cloud2 {
  top: 30%;
  left: 0%;
  width: 100%;
}

.cloud3 {
  top: 0%;
  right:30%;
  width: 100%;
}
.cloud4 {
  top: 20%;
  left: 0%;
  width: 100%;
}

.cloud5 {
  top: 50%;
  left: 30%;
  width: 100%;
}
.cloud6 {
  top: 70%;
  right: 30%;
  width: 100%;
}
.cloud7 {
  top: 40%;
  left: 50%;
  width: 70%;
}
.cloud8 {
  top: 0%;
  left: 50%;
  width: 60%;
}
.cloud9 {
  bottom: 20%;
  right: 40%;
  width: 75%;
}
@keyframes moveClouds {
  0% {
    transform: translateY(100vh); /* Start from the bottom */
  }
  100% {
    transform: translateY(-100vh); /* Move upward out of view */
  }
}
/* Popup window */
.popup-window {
  width: 85%; 
  max-width: 400px; 
  height: 60%;
  background-color: white; 
  border-radius: 20px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  overflow: hidden; 
  z-index: 10; 
  position: absolute;
  border: 3px solid #333; 

}

/* Top bar styling */
.top-bar {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #f3b9b9; 
  padding: 5px 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Circles in the top bar */
.circle {
  width: 17px;
  height: 17px;
  background-color: #ffffff; 
  border-radius: 50%;
  margin-right: 8px; 
}
/* Title styling */
.bar-title {
  flex-grow: 1; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  font-size: 15px;
  font-weight: 500;
  font-family: 'Press Start 2P', sans-serif; 
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 30px;
}

/* Navigation buttons */
.nav-buttons {
  margin-left: auto; 

  
}

.nav-button {
  background: none;
  border: none;
  font-size: 25px;
  margin-left: 5px;
  color: #2d2274;
  cursor: pointer;
  outline: none;
}

.window-body {
  padding: 20px; 
  background-color: white; 
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px;
  min-height: 200px; 
  position: relative; 
}


/* Folder SVG icon */
.folder-icon {
  width: 30px;
  height: auto; 
  margin-bottom: 10px; 
}

/* Folder label */
.folder-label {
  font-family: 'Press Start 2P', sans-serif; 
  font-size: 10px; 
  text-align: center;
  color: #333; 
}

/* Common folder styles */
.folder {
  position: absolute;
  cursor: pointer; 
}


/* Code Arsenal Folder */
.code-arsenal {
  top: 30px; 
  left: 10px; 
}

/* Framework Forge Folder */
.framework-forge {
  top: 80px; 
  left: 160px; 
}

/* UI/UX Workshop Folder */
.uiux-workshop {
  top: 150px; 
  left: 20px; 
}

/* Data Science Lab Folder */
.data-science-lab {
  top: 220px; 
  left: 170px; 
}

/* Creative Vault Folder */
.creative-vault {
  top: 260px; 
  left: 45px; 
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: auto; 
  gap: 14px; 
  justify-items: center; 
  padding: 20px;
}

.folder-icon-item {
  width: 40px; 
  height: auto; 
  
}




.icons-grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  justify-items: center; 
  align-items: center;
  padding: 20px;
}

.icon-square {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}

.icon-initial {
  width: 80px; 
  height: 50px; 
  display: flex;
  align-items: center; 
  justify-content: center;
  font-size: 36px; 
  font-weight: bold;
  color: #fff; 
  border-radius: 6px; 
}

.icon-label {
  margin-top: 8px; 
  font-size: 14px; 
}


.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center; 
  height: 100vh; 
  position: relative;
  background-color: #FFFFF0;
}

.projects-title {
  position: absolute; 
  top: 5%; 
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 20px;
  width: 200px;
  font-weight: 600;
  box-shadow: 8px 8px 4px 0px #000000;
  color: #6B7280;
  padding: 10px;
  background-color: #E9BA52;
  text-align: center; 
}


.vault-container {
 
  position: relative;
  width: 80%; 
  height: 70%; 
  background-color: #ffffff; 
  border: 8px solid #808080; 
  border-radius: 15px; 
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.2); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  padding: 10px;
 
}

/* Vault Door */
.vault-door {
  width: 100%; 
  height: 100%;
  background-color: #0a3f64; 
  border-radius: 1px; 
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1); 
}


.vault-foot {
  position: absolute;
  bottom: -10px; 
  width: 40px;
  height: 20px;
  background-color: #808080; 
  border-radius: 5px 5px 0 0; 
}


.vault-foot-left {
  left: 20px; 
}

.vault-foot-right {
  right: 20px; 
}


.vault-key {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px; 
  height: 80px; 
  cursor: pointer;
  transition: transform 1s ease; 
  transform-origin: center; 
}


.vault-key.rotate {
  transform: translate(-50%, -50%) rotate(360deg); 
}


/* Project Card */
.project-card {
  width: 95%; 
  max-height: 90%; 
  border: 3px solid #f7dbad; 
  border-radius: 5px;
  overflow-y: auto; 
  padding: 20px; 
  background-color: #FFFFF0; 
  margin: 10px auto; 
}

.project-card-container {
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
  overflow-y: auto; 
}

.nav-button {
  background-color: transparent;
  border: none;
  color: #a0462b;
  ;
  font-size: 23px;
  cursor: pointer;
}

.card-title {
  background-color: #FE3E01
  ; 
  padding: 18px;
  margin-top: 20px;
  color: white; 
  width: 65%; 
  margin: 10px auto; 
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  text-align: center; 
  
}

.card-description-container {
  width: 100%; 
  margin-top: 18px; 
  
 
}


.description-title {
  font-family: 'Poppins', sans-serif; 
  font-weight: 600;
  font-size: 16px;
  text-align: left; 
  margin-top: 30px;
  margin-bottom: 7px;
  margin-left: 3px;
}


.description-content {
  width: 100%; 

  margin: 0 auto; 
  background-color: hsl(0, 0%, 100%); 
  padding: 10px;
  max-height: 100px; 
  overflow-y: auto; 
  border-radius: 5px; 
  border: 1px solid;
  word-wrap: break-word; 
  word-break: break-word; 
  font-family: 'Poppins', sans-serif; 
  font-size: 16px;
  line-height: 1.5;

  
}

.tools-container {
  width: 100%; 
  margin-top: 18px; 
}

/* Tools Title */
.tools-icons {
  font-family: 'Poppins', sans-serif; 
  font-weight: 600;
  font-size: 16px;
  text-align: left; 
  margin-bottom: 5px; 
  margin-left: 3px; 
}


.toolsIcons-content {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  width: 100%; 
  margin: 0 auto; 
  max-height: 120px; 
  overflow-y: auto; 
  padding: 10px;
  background-color: #ffffff; 
  border-radius: 5px; 
  border: 1px solid; 
}


.tool-icon-item {
  width: 40px; 
  height: 40px; 
  margin: 10px 5px;
 
}

.creation-path-container {
  width: 100%; 
  margin: 0 auto; 
}


.creation-path-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: left; 
  margin-bottom: 10px; 
  margin-left: 3px; 
  margin-top: 18px; 
}


.progress-line-vertical {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  background-color: #ffffff;
  padding: 10px;
  border-radius: 0px;
  border: 1px solid; 
  width: 100%; 
  margin: 0 auto; 
}


.progress-step {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  margin-bottom: 20px; 
  width: 100%; 
  position: relative; 
}


.progress-label {
  font-family: 'Poppins', sans-serif;
  font-size: 14px; 
  margin-right: 20px; 
  width: 80px; 
  text-align: left; 
  position: absolute;
  left: 0;
}


.progress-bubble {
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  background-color: white;
  border: 1px solid #000;
  cursor: pointer;
  margin-left: auto; 
}


.progress-bubble.completed {
  background-color: #f5552e; 
}
.tool-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tool-icon-label {
  margin-top: 3px; 
  font-size: 12px; 
  text-align: center;
}
.tool-icon-item {
  width: 30px; 
  height: 30px;
  margin: 12px 5px;
}

.toolsIcons-content {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  max-height: 190px;
  overflow-y: auto;
  padding: 17px;
  background-color: #ffffff;
  border-radius: 5px;
  
}
.expand-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent; 
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #000;
}


.vault-container.expanded {
  width: 100vw; 
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
  background-color: #ffffff; 
  z-index: 10; 
  padding: 20px; 
  box-shadow: none; 
  transition: all 0.3s ease-in-out; /* Smooth transition */
}
.project-card.expanded {
  width: 95%; 
  height: 95%; 
  position: absolute; 
  top: 2.5%; 
  left: 2.5%; 
  margin: 0 auto; 
  overflow-y: auto; 
  padding: 20px; 
  transition: all 0.5s ease-in-out; 
  z-index: 1; 
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
}

.expand-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent; 
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: #d14848; 
  z-index: 20; 
}

.project-card.expanded .card-description-container,
.project-card.expanded .tools-container,
.project-card.expanded .creation-path-container {
  width: 98%; 
  margin: 20px auto; 
}


.expanded-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}



.shared-cards-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 15px;
}


.shared-card {
  width: 130px; 
  height: 150px; 
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
  transition: transform 0.2s ease;

}


.shared-card:hover {
  transform: scale(1.05);
}


.shared-card h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}


.lightbox-content img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px; 
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  display: block;
  margin: 0 auto; 
}


.nav-button2 {
  background: transparent;
  border: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-button2.left {
  left: 20px;
}

.nav-button2.right {
  right: 20px;
}


.close-button {
  position: absolute;
  top: 20px;
  left: 150px;
  background: transparent;
  color: #891c1c;
  border: none;
  width: 100%;
  font-size: 50px;
  cursor: pointer;
}

.detailedcards-container {
  background-color: #d3d3d3; 
  padding: 10px; 
  border-radius: 10px; 
  margin: 14px 0; 
}

.sketches-svg {
  width: 80%; 
  height: auto; 
}
.mockups-card h4 {
  font-family: 'Poppins', sans-serif; 
  font-size: 15px; 
  font-weight: 500;
  color: #ffffff; 
  
  background-color: #333;
}

.prototype {
  display: flex;
  flex-direction: column;
  align-items: center; 
}


.final-text {
  font-size: 14px; 
  font-weight: bold; 
  color: #333; 
  margin: 0; 
  text-align: center; 
  background-color: #FE3E01;
  
}


.prototype-text {
  font-size: 14px; 
  font-weight: normal; 
  color: #666; 
  margin: 0; 
  text-align: center; 
  background-color: #FFE052
  
}

.section4 {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff4d0;
}

.contact-box {
  margin-top: 40px;
  padding: 20px;
  box-shadow: 5px 5px 4px 0px #000000;
  background-color: #FF3B30;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.linkedIn {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  
  background-color: #0A66C2;
  border-radius: 10px;
  text-align: center;
}

.linkedIn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
.Email {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
  background-color: #6001D2;
  border-radius: 10px;
  text-align: center;
  border: 1px;
}

.Email a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

.Phone {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
border: 1px;
  background-color: #25D366;
  border-radius: 10px;
  text-align: center;
}

.Phone a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}



/* Media Query for Tablet Devices */
@media (min-width: 600px) and (max-width: 900px) {

.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;       
  padding: 20px;
  align-items: center;     
  justify-content: center; 
}


  .words-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
    margin-top: -70px; 

  }

  /* Adjust word elements */
  .innovation,
  .creativity,
  .simplicity {
    font-size: 35px;
  }

  .content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;

    margin-bottom: 0;
  }

  .profile-photo {
    width: 230px;
    flex: none;         
    margin-right: 20px;   
    
  }

  .text-container {
    flex: 1;              
    text-align: left;    
  }


  .intro-text,
  .second-intro-text {
 
    animation: none;

   
    opacity: 0;
    transform: translateX(100%); 
    animation: slideInFromRight 1s forwards;
 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #6B7280;
    padding: 20px;
    margin-bottom: 20px;
  }

  
  .second-intro-text {
    animation-delay: 0.5s;
  }

  /* Keyframes for sliding in from right */
  @keyframes slideInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

.section1 {
  padding: 20px 20px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  height: auto; 
  position: relative;
  box-sizing: border-box; 
  overflow: auto 
  
}

.section1 h1 {
  width: 27%; 
  height: auto;
  font-size: 26px;
  text-align: center; 
  font-weight: 600;
  margin-top: 10px; 
  margin-bottom: 80px; 
}

.about-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; 
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
width: 50%;
  color: #6B7280;
left: 0;
  
  margin-bottom: 60px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
 
  width: 100%; 
  flex-grow: 1; 
  box-sizing: border-box;
}
.about-image {
  display: block; 
  position: absolute; 
  bottom: 0; 
  right:35px; 
  width: 400px; 
}



/* Popup window */
.popup-window {
  width: 75%; 
  max-width: 700px; 

 
}

/* Top bar styling */
.top-bar {
height: 65px;
font-size: 20px;


}


/* Title styling */
.bar-title {
font-size: 22px;
height: 45px;

}

.nav-button {
  font-size: 45px;

}

/* Folder SVG icon */
.folder-icon {
  width: 70px; 

}

.folder-label {
  font-family: 'Press Start 2P', sans-serif; /* Use the pixelated font */
  font-size: 16px; 
  text-align: center;
  color: #333; 
}

/* Code Arsenal Folder */
.code-arsenal {
  top: 30px; 
  left: 10px; 
}

/* Framework Forge Folder */
.framework-forge {
  top: 60px; 
  left: 370px; 
}

/* UI/UX Workshop Folder */
.uiux-workshop {
  top: 180px; 
  left: 80px;
}

/* Data Science Lab Folder */
.data-science-lab {
  top: 240px; 
  left: 400px; 
}

/* Creative Vault Folder */
.creative-vault {
  top: 390px; 
  left: 85px; 
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: auto; 
  gap: 14px; 
  justify-items: center;
  padding: 20px;
}
.icons-grid1 {
  display: grid;
  grid-template-columns: repeat(2, 2fr); 
  grid-auto-rows: auto; 
  gap: 14px; 
  justify-items: center; 
  padding: 20px;
}

.folder-icon-item {
  width: 70px; 
  height: auto; 

  
}





.icon-initial {
  width: 60px; 
  height: 60px; 
  display: flex;
 
}

.icon-label {
  margin-top: 8px; 
  font-size: 20px; 
}


.section3 {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  position: relative;
}

.projects-title {
  position: absolute; 
  top: 5%; 
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 26px;
  width: 200px;
  font-weight: 600;
  box-shadow: 8px 8px 4px 0px #000000;
  color: #6B7280;
  padding: 10px;
  background-color: #E9BA52;
  text-align: center; 
}


.vault-container {
  position: relative;
  width: 65%; 
  height: 50%; 
  background-color: #ffffff; 
  border: 8px solid #808080; 
  border-radius: 15px; /* Slightly rounded edges */
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.2); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Prevent overflow */
  padding: 10px;
}

/* Vault Door */
.vault-door {
  width: 100%; 
  height: 100%;
  background-color: #0a3f64; 
  border-radius: 1px; 
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1); 
}


.vault-foot {
  position: absolute;
  bottom: -10px; 
  width: 40px;
  height: 20px;
  background-color: #808080; 
  border-radius: 5px 5px 0 0; 
}


.vault-foot-left {
  left: 20px; 
}

.vault-foot-right {
  right: 20px; 
}


.vault-key {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px; 
  height: 80px; 
  cursor: pointer;
  transition: transform 1s ease; 
  transform-origin: center; 
}


.vault-key.rotate {
  transform: translate(-50%, -50%) rotate(360deg); 
}


/* Project Card */
.project-card {
  width: 95%; 
  max-height: 90%; 
  border: 3px solid #000000; 
  border-radius: 5px;
  overflow-y: auto; 
  padding: 20px; 
  background-color: #f9f9f9; 
  margin: 10px auto; 
}

.project-card-container {
  width: 100%; 
  height: 100%; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  overflow-y: auto; /* Enable scrolling if cards overflow */
}
/* Navigation Buttons */
.nav-button {
  background-color: transparent;
  border: none;
  color: #a0462b;
  ;
  font-size: 24px;
  cursor: pointer;
}


.card-title {
  background-color: #FE3E01; 
  padding: 10px;
  margin-top: 20px;
  color: white; 
  width: 65%; 
  margin: 10px auto; 
  font-weight: bold;
  font-size: 20px;
  box-shadow: 8px 8px 4px 0px #682828; 
  text-align: center; 
  
}
/* Description Container */
.card-description-container {
  width: 100%; 
  margin-top: 18px; 
 
}


.description-title {
  font-family: 'Poppins', sans-serif; 
  font-weight: 600;
  font-size: 18px;
  text-align: left; 
  margin-top: 30px;
  margin-bottom: 7px; 
  margin-left: 3px;
}


.description-content {
  width: 100%; 

  margin: 0 auto; 
  background-color: #ffffff; /* Light gray background */
  padding: 10px;
  max-height: 100px; 
  overflow-y: auto; 
  border-radius: 5px; 
  border: 1px solid;
  word-wrap: break-word; 
  word-break: break-word; 
  font-family: 'Poppins', sans-serif; 
  font-size: 16px;
  line-height: 1.5;
  
}

.tools-container {
  width: 100%; 
  margin-top: 18px; 
}


.tools-icons {
  font-family: 'Poppins', sans-serif; 
  font-weight: 600;
  font-size: 18px;
  text-align: left; 
  margin-bottom: 5px; 
  margin-left: 3px; 
}


.toolsIcons-content {
  display: flex;
  flex-wrap: wrap; 
  gap: 17px;
  width: 100%; 
  margin: 0 auto; 
  max-height: 120px;
  overflow-y: auto; /* Scroll vertically if content overflows */
  padding: 10px;
  background-color: #ffffff; /* Light gray background */
  border-radius: 5px; 
  border: 1px solid;
}


.tool-icon-item {
  width: 40px; 
  height: 40px; 
}

.creation-path-container {
  width: 100%; 
  margin: 0 auto; 
}


.creation-path-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: left; 
  margin-bottom: 10px; 
  margin-left: 3px; /* Align with other section titles */
  margin-top: 18px; 
}

/* Vertical Line Container */
.progress-line-vertical {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  background-color: #e9e9e9; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid; 
  width: 100%; 
  margin: 0 auto; 
}


.progress-step {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  margin-bottom: 20px; 
  width: 100%; 
  position: relative; 
}


.progress-label {
  font-family: 'Poppins', sans-serif;
  font-size: 18px; 
  margin-right: 20px; 
  width: 80px; 
  text-align: left; 
  position: absolute;
  left: 0;
}


.progress-bubble {
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  background-color: white;
  border: 2px solid #000;
  cursor: pointer;
  margin-left: auto; 
}


.progress-bubble.completed {
  background-color: #FFD700; 
}

.tool-icon-item {
  width: 30px; 
  height: 30px; 
  margin: 10px 5px; 
}


.toolsIcons-content {
  display: flex;
  flex-wrap: wrap;
  gap: 17px; 
  row-gap: 20px; 
  max-height: 120px; 
  overflow-y: auto; 
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}
.expand-button {
  position: absolute;
  top: 10px;
  right: 0px;
  background: transparent; 
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #000; 
}




.vault-container.expanded {
  width: 100vw;
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
  background-color: #ffffff; 
  z-index: 10; 
  padding: 20px; 
  box-shadow: none; 
  transition: all 0.3s ease-in-out; 
}


.project-card.expanded {
  width: 95%; 
  height: 95%; 
  position: absolute; 
  top: 2.5%; 
  left: 2.5%; 
  margin: 0 auto; 
  overflow-y: auto; 
  padding: 20px; 

  transition: all 0.5s ease-in-out; 

  z-index: 1; 
  border-radius: 10px; 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
}

.expand-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent; 
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #000; 
  z-index: 20; 
}

.project-card.expanded .card-description-container,
.project-card.expanded .tools-container,
.project-card.expanded .creation-path-container {
  width: 98%; 
  margin: 20px auto; 
}


.expanded-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}



.shared-cards-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 15px;
}


.shared-card {
  width: 180px; 
  height: 250px; 
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
  display: flex;
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
  transition: transform 0.2s ease;
}


.shared-card:hover {
  transform: scale(1.05);
}

/* Title for each shared card */
.shared-card h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #333;
}
/* Lightbox Styles */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

/* Lightbox Content */
.lightbox-content img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

/* Navigation Buttons */
.nav-button2 {
  background: transparent;
  border: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-button2.left {
  left: 20px;
}

.nav-button2.right {
  right: 20px;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 20px;
  left: 150px;
  background: transparent;
  color: #891c1c;
  border: none;
  width: 100%;
  font-size: 30px;
  cursor: pointer;
}

.detailedcards-container {
  background-color: #d3d3d3; 
  padding: 10px; 
  border-radius: 10px; 
  margin: 14px 0; 
}

.sketches-svg {
  width: 90%; 
  height: auto; 
}
.mockups-card h4 {
  font-family: 'Poppins', sans-serif; 
  font-size: 18px; 
  font-weight: 500;
  color: #ffffff; 
  
  background-color: #333;
}

.prototype {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.final-text {
  font-size: 18px; 
  font-weight: bold; 
  color: #333; 
  margin: 0; 
  text-align: center; 
  background-color: #FE3E01;
  
}


.prototype-text {
  font-size: 18px; 
  font-weight: normal; 
  color: #666; 
  margin: 0; 
  text-align: center; 
  background-color: #FFE052
  
}

.aime-avatar {
  right: 42%;          
  width: 12vw;          
}


.chat-bubble {

  bottom: 80px;         
  right: calc(50% - 215px); 
  height: 70px;
  box-shadow: 0 2px 10px rgba(72, 52, 52, 0.2);
  z-index: 1000;        
  font-size: 14px;
  font-weight: 600;
  width: 170px;         
}

.contact-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 60px;
}


}











































@media (min-width: 900px) and (max-width: 1199px) {
  
  .words-container {
    position: relative;
    width: 1186px;
    flex-direction: row; 
    height: auto;
    display: flex;
    justify-content: center; 
    gap: 20px;
    top: 180px; 
    opacity: 1; 
    padding-bottom: 300px;
  }


  .innovation,
  .creativity,
  .simplicity {
    font-size: 36px; 
  }

  
  .content-container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    width: 90%;
    max-width: 1186px;
    margin: 0 auto;
    padding-top: 50px; 
    padding-bottom: 50px; 
  }

  
  .profile-photo {
    width: 260px;
    margin-right: 60px; 
    box-shadow: 8px 8px 4px 0px #FF3B30;
  }

 
  .text-container {
    width: 100%;
    text-align: left; 
  }


  .intro-text,
  .second-intro-text {
    opacity: 0;
    transform: translateX(100%); 
    animation: slideInFromRight 1s forwards;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    color: #6B7280;
    padding: 20px;
    margin-bottom: 20px;
  }

  
  .second-intro-text {
    animation-delay: 0.5s;
  }

  
  @keyframes slideInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%); 
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .section1 {
    padding: 20px 20px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: auto; 
    position: relative;
    box-sizing: border-box; 
    
  } 

  .section1 h1 {
    width: 45%; 
    text-align: center; 
 height: 60%;
    font-size: 33px;
    margin-top: 80px; 
    margin-bottom: 10px; 
  }
  
  .about-text {
    font-family: 'Poppins', sans-serif;
    font-size: 22px; 
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: #6B7280;
    max-width: 55%; 
    padding: 0 10px; 
    bottom: 60px;
    margin: 0;
    margin-bottom: 30px;
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    width: 100%; 
    flex-grow: 1; 
    bottom: 0; 
    box-sizing: border-box;
    position: relative; 
    top: 180px;
  }
  
  .about-image {
    display: block;
    position: absolute; 
    bottom: 0; 
    right:75px; 
    width: 400px; 
  }


  .popup-window {
    width: 85%; /* Width suitable for mobile */
    max-width: 700px; 
    height: 60%;
  
   
  }
  
  /* Top bar styling */
  .top-bar {
  height: 65px;
  
  
  }
  
  
  /* Title styling */
  .bar-title {
  font-size: 24px;
  height: 45px;
  }
  
  .nav-button {
    font-size: 35px;
  
  }
  
  /* Folder SVG icon */
  .folder-icon {
    width: 70px; 
    
  
  }
  
  /* Folder label */
  .folder-label {
    font-size: 18px;
  
  }
  
  
  /* Code Arsenal Folder */
  .code-arsenal {
    top: 30px; 
    left: 10px; 

  }
  
  /* Framework Forge Folder */
  .framework-forge {
    top: 160px; 
    left: 370px; /* Shift to the right */
  }
  
  /* UI/UX Workshop Folder */
  .uiux-workshop {
    top: 300px; 
    left: 80px; 
  }
  
  /* Data Science Lab Folder */
  .data-science-lab {
    top: 440px; 
    left: 400px; 
  }
  
  /* Creative Vault Folder */
  .creative-vault {
    top: 550px; 
    left: 85px; 
  }
  
  .icons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: auto; 
    gap: 14px; 
    justify-items: center; 
    padding: 20px;
  }
  .icons-grid1 {
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    grid-auto-rows: auto; 
    gap: 14px; 
    justify-items: center; 
    padding: 20px;
  }
  
  .folder-icon-item {
    width: 65px; 
    height: auto; 
  }
  .icon-initial {
    width: 60px; 
    height: 60px; 
    display: flex;
   
  }
  
  .icon-label {
    margin-top: 8px; 
    font-size: 25px; 
  }
  

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  position: relative;
}

.projects-title {

  font-size: 28px;

}


.vault-container {
  position: relative;
  width: 65%; 
  height: 60%; 
}


.project-card {
  width: 98%; 
  max-height: 97%; 
  border: 3px solid #000000; 
  border-radius: 5px;
  overflow-y: auto; 
  padding: 20px; 
  background-color: #f9f9f9; 
  margin: 10px auto; 
}

.project-card-container {
  width: 100%; 
  height: 100%; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  overflow-y: auto; 
}

.nav-button {
  background-color: transparent;
  border: none;
  color: #a0462b;
  ;
  font-size: 45px;
  cursor: pointer;
}

.card-title {

  font-size: 24px;
}

.description-title {

  font-size: 22px;

}


.description-content {

  font-size: 20px;
}


.tools-icons {
  font-family: 'Poppins', sans-serif; 
  font-weight: 600;
  font-size: 22px;
  text-align: left; 
  margin-bottom: 5px; 
  margin-left: 3px; 
}




.tool-icon-item {
  width: 60px; 
  height: 60px; 
}




.creation-path-title {

  font-size: 22px;

}

/* Container for each step */
.progress-step {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  margin-bottom: 20px; 
  width: 100%; 
  position: relative; 
}


.progress-label {
  font-family: 'Poppins', sans-serif;
  font-size: 22px; 
  margin-right: 20px; 
  width: 80px; 
  text-align: left; 
  position: absolute;
  width: 60%;
  left: 0;
}


.progress-bubble {
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  background-color: white;
  border: 2px solid #000;
  cursor: pointer;
  margin-left: auto; 
}


.progress-bubble.completed {
  background-color: #FFD700; 
}

.tool-icon-item {
  width: 30px; 
  height: 30px;
  margin: 5px;
}

.toolsIcons-content {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  max-height: 120px;
  overflow-y: auto;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}
.expand-button {
  position: absolute;
  top: 10px;
  right:10px;
  background: transparent; 
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #000; 
}
.expand-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent; 
  border: none;
  cursor: pointer;
  font-size: 34px;
  color: #000; 
  z-index: 20; 
}


.shared-card {
  width: 250px; 
  height: 340px; 

}

.shared-card:hover {
  transform: scale(1.05);
}

/* Title for each shared card */
.shared-card h4 {
  font-size: 24px;

}
.nav-button2.left {
  left: 60px;
  
}

.nav-button2.right {
  right: 60px;
}


.close-button {
  
  top: 60px;
  left: 450px;

  color: #891c1c;
  width: 100%;
  font-size: 40px;

}



.sketches-svg {
  width: 110%; 

}
.mockups-card h4 {
  
  font-size: 30px; 

  
  background-color: #333;
}



.final-text {
  font-size: 43px; 

  
}


.prototype-text {
  font-size: 26px; 

  
}
.aime-avatar {
  right: 42%;           
  width: 9vw;         
}


.chat-bubble {

  bottom: 110px;         
  right: calc(50% - 225px); 
  height: 70px;
  border: 2px solid #000000;
  box-shadow: 0 2px 10px rgba(72, 52, 52, 0.2);
  z-index: 1000;        
  font-size: 14px;
  font-weight: 600;
  width: 170px;         
}
.contact-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 60px;
}
  
}

  @media (min-width: 1200px) {


.words-container {
  position: relative;
  width: 1186px;
  flex-direction: row; /* Align words horizontally */
  height: auto;
  display: flex;
  justify-content: center; /* Center the words horizontally */
  gap: 20px;
  top: 100px; 
  opacity: 1; 
  padding-bottom: 60px;
}

.innovation,
.creativity,
.simplicity {
  font-size: 40px; 
}
.shared-card h4 {
  font-size: 20px;

}


.content-container {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  width: 90%;
  max-width: 1186px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}




  
 
 .profile-photo {
  width: 230px;
  margin-right: 60px;
  box-shadow: 8px 8px 4px 0px #FF3B30;
}


.text-container {
  width: 100%;
  text-align: left; 
}


.intro-text,
.second-intro-text {
  opacity: 0;
  transform: translateX(100%); 
  animation: slideInFromRight 1s forwards;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #6B7280;
  padding: 20px;
  margin-bottom: 20px;
}


.second-intro-text {
  animation-delay: 0.5s;
}


@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%); 
  }
  to {
    opacity: 1;
    transform: translateX(0); 
  }
  
}
.section1 {
  padding: 20px 20px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  height: auto; 
  position: relative;
  box-sizing: border-box; 
  overflow: auto; /* Allow content to overflow naturally */
}

.section1 h1 {
  width: 15%; 
  text-align: center; 
  margin-top: 50px; 
  margin-bottom: 70px; 
}

.about-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; 
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #6B7280;
  max-width: 50%; 
  padding: 0 10px; 
  margin: 0;
  margin-bottom: 30px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  width: 100%; 
  flex-grow: 1; /* Allow container to grow based on content */
  bottom: 0; 
  box-sizing: border-box;
  position: relative; /* Make the container the reference point for absolute positioning */
}

.about-image {
  display: block; 
  position: absolute; 
  bottom: 0; 
  right:140px; 
  width: 330px; 
}



/* Popup window */
.popup-window {
  width: 90%; 
  max-width: 700px; 
  height: 60%;
  background-color: white; 
  border-radius: 20px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  overflow: hidden; 
  z-index: 10; 
  position: absolute;
  border: 3px solid #333; 

}



.nav-button {
  background: none;
  border: none;
  font-size: 12px;
  margin-left: 5px;
  color: #7972a9;
  cursor: pointer;
  outline: none;
}


.folder-icon {
  width: 55px; 

}


.folder-label {
  font-family: 'Press Start 2P', sans-serif; 
  font-size: 12px; 

}




.code-arsenal {
  top: 30px; 
  left: 10px; 
}


.framework-forge {
  top: 40px; 
  left: 400px; 
}

/* UI/UX Workshop Folder */
.uiux-workshop {
  top: 170px; 
  left: 20px; 
}


.data-science-lab {
  top: 210px; 
  left: 290px; 
}


.creative-vault {
  top: 330px; 
  left: 85px; 
}

.folder-icon-item {
  width: 50px; 
  height: auto; 
  
}

  
  .section3 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    position: relative;
  }
  
  .projects-title {
  
    font-size: 28px;

  
  }
  

 
  .vault-container {
    position: relative;
    width: 45%; 
    height: 70%; 
  }
  
  /* Project Card */
  .project-card {
    width: 98%; 
    max-height: 97%; 
    border: 3px solid #000000; 
    border-radius: 5px;
    overflow-y: auto; 
    padding: 20px; 
    background-color: #f9f9f9; 
    margin: 10px auto; 
  }

  .project-card-container {
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    overflow-y: auto; /* Enable scrolling if cards overflow */
  }
  /* Navigation Buttons */
  .nav-button {
    background-color: transparent;
    border: none;
    color: #a0462b;
    ;
    font-size: 45px;
    cursor: pointer;
  }
  
  .card-title {
  
    font-size: 24px;
    width: 30%;
  }
  /* Description Title */
  .description-title {
  
    font-size: 18px;
  
  }
  
  
  .description-content {
  
    font-size: 16px;
  }
  
  
  .tools-icons {
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px; 
    margin-left: 3px; 
  }
  
  
  

  .tool-icon-item {
    width: 60px; 
    height: 60px; 
  }
  
  
  
 
  .creation-path-title {
  
    font-size: 18px;
  
  }
  
 
 
  .progress-label {
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
    margin-right: 20px;
    width: 80px; 
    text-align: left; 
    position: absolute;
    width: 60%;
    left: 0;
  }
  
  
  .progress-bubble {
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    background-color: white;
    border: 2px solid #000;
    cursor: pointer;
    margin-left: auto; 
  }
  
  /* Completed Phase Styling */
  .progress-bubble.completed {
    background-color: #FFD700; 
  }
  
  .tool-icon-item {
    width: 30px; 
    height: 30px;
    margin: 5px;
  }
  


  .expand-button {
    top: 30px;
    right: 65px;
    font-size: 34px;

  }
  

  .shared-card {
    width: 250px; 
    height: 340px; 
  
  }
  
 
  .shared-card:hover {
    transform: scale(1.05);
  }
  
  /* Title for each shared card */
  .shared-card h4 {
    font-size: 22px;
  
  }
  .nav-button2.left {
    left: 60px;
    
  }
  
  .nav-button2.right {
    right: 60px;
  }
  
  /* Close Button */
  .close-button {
    
    top: 60px;
    left: 450px;
  
    color: #891c1c;
    width: 100%;
    font-size: 40px;
  
  }
   /* Top bar styling */
   .top-bar {
    height: 65px;
    
    
    }
    
    
    /* Title styling */
    .bar-title {
    font-size: 22px;
    height: 40px;
    }
    
    .nav-button {
      font-size: 33px;
    
    }
  
  
  
  .sketches-svg {
    width: 90%; 
  
  }
  .mockups-card h4 {
    
    font-size: 24px; 
  
    
    background-color: #333;
  }
  
  
  /* Style for Final p */
  .final-text {
    font-size: 36px; 
  
    
  }
  
  /* Style for Prototype */
  .prototype-text {
    font-size: 30px; 
  
    
  }
  
  .aime-avatar {
    right: 42%;          
    width: 6vw;             
    left: 50%;
    right: 50%;
  }
  
  
  .chat-bubble {
  
    bottom: 80px;       
    right: calc(50% - 230px); 

    height: 70px;
    border: 2px solid #000000;
    box-shadow: 0 2px 10px rgba(72, 52, 52, 0.2);
    z-index: 1000;        
    font-size: 13px;
    font-weight: 600;
    width: 170px;         
  }
  .section4{
    min-height: 50vh;
  }
  .contact-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin-top: 60px;
    gap: 70px; 
  }
  
  .info-box {
    width: 200px;
    padding: 10px;
    box-shadow: 8px 8px 4px 0px #000000;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
  }

}




